body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #777;
}
.container {
  width: fit-content;
  background-color: #222;
  margin: 70px auto;
  padding: 20px;
  box-shadow: 0 0 30px #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.display {
  padding: 10px;
  height: 150px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

div button {
  width: 60px;
  height: 60px;
  /*color: aquamarine;
  */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #1b2f38;
  margin: 5px;
  cursor: pointer;
  position: relative;
  border: 0;
  outline: 0;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
div button:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
.number {
  color: white;
}
.operator {
  color: aquamarine;
}
